# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# HLS output
backend/streams/
*.ts
*.m3u8

# Dev-only test HTML
hls_test.html
